<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>title(||쓰지 않은 경우)</th>
    <th>writer</th>
    <th>date</th>
    <th>hits</th>
  </tr>
  <tr th:each="notice: ${noticeList}">
    <td th:text="${notice.id}"></td>
    <td><a th:href="@{|/notice/${notice.id}|}" th:text="${notice.noticeTitle}"></a></td>
    <td><a th:href="@{/notice/${notice.id}}" th:text="${notice.noticeTitle}"></a></td>
    <td th:text="${notice.noticeWriter}"></td>
    <td th:text="*{#temporals.format(notice.noticeCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${notice.noticeHits}"></td>
  </tr>
</table>
</body>
</html>